[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
flask = "*"
faker = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
pytest = "*"
flask-restful = "*"
python-dotenv = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.10"
